@import "./scss/variables.scss";

.app {
  box-sizing: border-box;
  .header {
    background-color: $brown;
    height: 90px;
    padding: 0 10px;

    .navigation {
      align-items: flex-end;

      .nav-item {
        a {
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 700;
          color: white;
          padding: 0 5px 0 5px;
          &:hover {
            border: 1px solid white;
          }
        }
      }
    }
  }
  .page-title {
    margin-top: 90px;
    background-color: $black;
    border-bottom: 1px solid $dark-gray;
    height: 282px;
    color: white;
    font-weight: 400;
    h1 {
      font-family: "Bebas Neue";
      font-size: 56px;

      line-height: 67.2px;
    }
    p {
      font-family: "Open Sans";
      font-size: 16px;

      line-height: 19.2px;
    }
  }
  .main {
    padding: 50px 10px;
    background-color: $black;

    .content {
      & > * {
        margin-bottom: 100px;
      }
      .post {
        .audio {
          display: flex;
          align-items: center;
          padding: 0 15px 0 15px;
          width: 100%;
          margin-bottom: 50px;
          border-radius: 0;
          height: 48px;
          background-color: #2c2b2a;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          color: $gray;
          & > * {
            margin-left: 15px;
          }
          .play {
            color: white;
          }

          .audio-progress {
            padding: 3px;
            width: 100%;
            height: 12px;
            background-color: #191918;
            .progress-line {
              height: 6px;
              width: 20%;
              background-color: $brown;
            }
          }

          .volume-bar {
            padding: 3px;
            width: 25%;
            height: 12px;
            background-color: #191918;
            .volume-line {
              height: 6px;
              width: 100%;
              background-color: $brown;
            }
          }
          .volume {
            color: white;
          }
        }
        .slider {
          margin-bottom: 50px;
          .carousel-control-prev {
            left: 70%;
            opacity: 1;
            align-items: flex-end;
            justify-content: flex-end;
            margin-bottom: 30px;
          }

          .carousel-control-next {
            opacity: 1;
            align-items: flex-end;
            margin-bottom: 30px;
          }

          .carousel-control-prev-icon {
            width: 56px;
            height: 56px;
            border: 1px solid #ffffff;
            background-color: #1b1a17;
            opacity: 0.9;
            background-image: none;
            &::before {
              font-family: "Font Awesome 5 Free";
              content: "\f053";
              font-weight: 900;
              font-size: 32px;
              color: $brown;
            }
          }
          .carousel-control-next-icon {
            width: 56px;
            height: 56px;
            border: 1px solid #ffffff;
            background-color: #1b1a17;
            opacity: 0.9;
            background-image: none;
            &::before {
              font-family: "Font Awesome 5 Free";
              content: "\f054";
              font-weight: 900;
              font-size: 32px;
              color: $brown;
            }
          }

          .carousel-indicators {
            justify-content: left;
            margin-left: 30px;
            margin-bottom: 30px;
            & > * {
              width: 8px;
              height: 8px;
              border: 1px solid #ffffff;
              background-color: #1b1a17;
              opacity: 0.9;
              margin-right: 10px;
            }
            .active {
              width: 10px;
              height: 10px;
              border: none;
              background-color: $brown;
            }
          }
        }

        .post-img {
          margin-bottom: 50px;
        }
        .post-table {
          display: flex;
          align-items: flex-start;
          .post-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #7f7e7e;
            color: white;
            padding: 10px 18px 15px 18px;
            margin-right: 32px;
            font-size: 32px;
            font-weight: 700;
            .icon {
              margin-bottom: 14px;
            }

            .month {
              margin-top: -10px;
              font-size: 16px;
              color: $brown;
              text-transform: uppercase;
            }
          }

          .post-description {
            .quote-block {
              background-color: #2c2b2a;
              font-family: "Open Sans";
              font-size: 24px;
              font-weight: 700;
              font-style: italic;
              padding: 15px;
              .quote-container {
                border: 1px solid $brown;
                padding: 28px 32px;
                .quote-text {
                  color: $brown;
                  &::after {
                    content: "";
                    display: block;
                    width: 70px;
                    height: 25px;
                    border-bottom: 1px solid $brown;
                    margin-bottom: 25px;
                  }
                }
                .quote-author {
                  color: white;
                  font-size: 16px;
                  font-weight: 400;
                  font-style: normal;
                  margin-bottom: 0;
                }
              }
            }

            .post-title {
              color: $brown;
              font-family: "Open Sans";
              font-size: 24px;
              font-weight: 700;
              margin-top: -7px;
            }
            .info {
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 400;
              color: $gray;

              & > * {
                padding-right: 20px;
              }

              &::after {
                content: "";
                display: block;
                width: 70px;
                height: 29px;
                border-bottom: 1px solid $brown;
                margin-bottom: 35px;
              }

              .comments {
                &::before {
                  font-family: "Font Awesome 5 Free";
                  content: "\f075";
                  font-weight: 900;
                  padding-right: 5px;
                  font-size: 12px;
                  line-height: 16.8px;
                }
              }

              .author {
                &::before {
                  font-family: "Font Awesome 5 Free";
                  content: "\f007";
                  font-weight: 900;
                  padding-right: 5px;
                  font-size: 12px;
                  margin-bottom: 2px;
                  line-height: 19.6px;
                }
              }
              .thema {
                &::before {
                  font-family: "Font Awesome 5 Free";
                  content: "\f07c";
                  font-weight: 900;
                  padding-right: 5px;
                  font-size: 12px;
                  line-height: 16.8px;
                }
              }
            }
            .text {
              color: white;
              font-family: "Open Sans";
              font-size: 16px;
              font-weight: 400;
              margin-bottom: 46px;
            }
            .read-more {
              border: none;
              border-radius: 0;
              width: 170px;
              height: 32px;
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              background-color: #1a1918;
              &:focus {
                border: none;
                outline: none;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
    .dashboard {
      padding: 0;
      max-width: 300px;
      min-width: 300px;

      & > * {
        padding-bottom: 75px;
      }

      .searcher {
        .loupe-icon {
          right: 30px;
          top: 16px;
          position: absolute;
          font-size: 16px;
          color: $gray;
        }

        .search {
          width: 100%;
          height: 48px;
          border: 1px solid #7f7e7e;
          background-color: #373634;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          padding: 0 40px 0 17px;
          color: $gray;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $gray;
          }
          &::-webkit-search-decoration,
          &::-webkit-search-cancel-button,
          &::-webkit-search-results-button,
          &::-webkit-search-results-decoration {
            display: none;
          }
        }
      }

      .title {
        color: white;
        font-family: "Bebas Neue";
        font-size: 24px;
        font-weight: 400;
        &::after {
          content: "";
          display: block;
          width: 70px;
          height: 29px;
          border-bottom: 2px solid $brown;
          margin-bottom: 40px;
        }
      }

      .categories {
        .list {
          color: $brown;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 700;
          border: 1px solid $gray;
          text-transform: uppercase;
          list-style-type: none;
          padding: 2px 32px 2px 32px;

          li {
            padding: 24px 0 24px 0;
            border-bottom: 1px solid $gray;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }

      .popular-posts {
        .post {
          color: $gray;
          border: 1px solid $gray;
          padding: 29px 32px;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
          .name {
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 700;
            color: $brown;
          }
          .info {
            display: inline-flex;
            align-items: flex-end;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 400;
            .views {
              padding-right: 10px;
              &::before {
                font-family: "Font Awesome 5 Free";
                content: "\f06e";
                font-weight: 900;
                padding-right: 5px;
                font-size: 12px;
                line-height: 16.8px;
              }
            }

            .author {
              &::before {
                font-family: "Font Awesome 5 Free";
                content: "\f007";
                font-weight: 900;
                padding-right: 5px;
                font-size: 12px;
                margin-bottom: 2px;
                line-height: 19.6px;
              }
            }
          }
        }
      }

      .flickr-images {
        .images * {
          max-width: 70px;
          min-height: 70px;
          background-color: yellowgreen;
          &:nth-child(-n + 3) {
            margin-bottom: 2rem;
          }
        }
      }

      .text-widget {
        .textbox {
          background-color: #2c2b2a;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          padding: 29px 32px;
          color: white;
        }
      }

      .tags {
        .tags-wrapper {
          display: flex;
          flex-wrap: wrap;
          & > * {
            background-color: #1a1918;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
            color: white;
            padding: 9px 15px;
            margin: 0 10px 10px 0;
          }
        }
      }

      .subscribe {
        .form {
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          color: white;
          border: 1px solid #7f7e7e;
          padding: 30px;

          p {
            margin-bottom: 27px;
          }

          .email-input {
            width: 100%;
            background-color: #373634;
            border: 1px solid #7f7e7e;
            height: 48px;
            padding: 17px;
            margin-bottom: 25px;
            color: $gray;
            &:focus {
              outline: none;
            }
            &::placeholder {
              text-transform: uppercase;
              color: $gray;
              font-family: "Open Sans";
              font-size: 14px;
              font-weight: 400;
            }
          }
          .submit {
            background-color: $brown;
            border-radius: 0;
            border: none;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: 700;
            width: 166px;
            height: 48px;
            &:focus {
              border: none;
              outline: none;
              box-shadow: none;
            }
            &::before {
              font-family: "Font Awesome 5 Free";
              content: "\f0e0";
              font-weight: 900;
              padding-right: 15px;
            }
          }
        }
      }

      .datepicker {
        .calendar {
          background-color: #2c2b2a;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          padding: 30px;
          .month {
            font-size: 18px;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
          }
          .arrows {
            display: flex;
            margin-bottom: 30px;
            :first-child {
              margin-right: 5px;
            }
            & > * {
              color: white;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              background-color: black;
              height: 24px;
              width: 24px;
              content: "";
            }
            .prev::before {
              font-family: "Font Awesome 5 Free";
              content: "\f104";
              font-weight: 900;
            }
            .next::before {
              font-family: "Font Awesome 5 Free";
              content: "\f105";
              font-weight: 900;
            }
          }
          .date {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
            grid-gap: 10px 5px;
            box-sizing: border-box;
          }

          .day {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 600;
            color: #a9a9a9;
          }

          .number {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #525252;

            &--current {
              color: $brown;
              font-weight: 700;
              cursor: pointer;
            }
          }
        }
      }
    }
    .paginator-block {
      .paginator {
        display: flex;
        height: 56px;
        .counter {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 116px;
          border-top: 1px solid #7f7e7e;
          border-bottom: 1px solid #7f7e7e;
          background-color: #2c2b2a;
          p {
            margin-top: 10px;
            color: #777777;
            font-family: "Open Sans";
            font-size: 18px;
            font-style: italic;
          }
        }
        .prev {
          width: 56px;
          height: 56px;
          border: 1px solid #7f7e7e;
          background-color: #31302f;
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f053";
            font-weight: 900;
            font-size: 32px;
            color: $brown;
            padding-left: 17px;
          }
        }
        .next {
          width: 56px;
          height: 56px;
          border: 1px solid #7f7e7e;
          background-color: #31302f;
          &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f054";
            font-weight: 900;
            font-size: 32px;
            color: $brown;
            padding-left: 17px;
          }
        }
      }
    }
  }
  .find-us {
    padding: 50px 50px;
    min-height: 469px;
    background-color: $brown;
    color: white;
    font-family: "Open Sans";
    h1 {
      font-family: "Bebas Neue";
    }
    p {
      font-size: 16px;
      font-weight: 400px;
    }
    .contacts {
      margin-top: 30px;
      width: 100%;
      & > * {
        margin-bottom: 20px;
      }

      .wrapper {
        display: flex;
        .description {
          display: flex;
          flex-direction: column;
          margin-left: 39px;
          font-family: "Open Sans";
          .desc-title {
            font-size: 18px;
            font-weight: 700;
            color: #000;
            margin-bottom: 22px;
          }
          .text {
            font-size: 14px;
            font-weight: 400;
          }
        }
        .icon {
          font-size: 48px;
          line-height: 57.6px;
        }
      }
    }
  }
  .footer {
    padding: 0 10px;
    height: 117px;
    background-color: $black;
    color: white;
    span {
      font-family: "Open Sans";
      font-size: 14px;
    }
    .social-media-icons {
      min-width: 283px;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      line-height: 19.2px;
    }
  }
}

@media only screen and (min-width: 575px) {
  .app {
    .header {
      padding: 0 50px;
    }

    .find-us {
      padding: 0 50px;
      .contacts {
        margin-top: 71px;
      }
    }
    .main {
      padding: 50px 50px;
    }
    .footer {
      padding: 0 50px;
    }
  }
}

@media only screen and (min-width: 1025px) {
  .app {
    .header {
      padding: 0 215px;
    }

    .find-us {
      padding: 0 215px;
      .contacts {
        margin-top: 71px;
      }
    }
    .main {
      padding: 100px 215px 100px 215px;
    }
    .footer {
      padding: 0 215px;
    }
  }
}
